.wrapper {
    padding: 20px;
    background-color: #DA6713;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    background-image: url(../img/backBtn.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    border: none;
    cursor: pointer;
}

.nav__btn-getCri{
    background-color: #ea8c48;
    color: white;
    padding: 10px 16px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    width: 148px;
    font-weight: bold;
}
.nav__btn-getCri-active{
    background-color: white;
    color: #DA6713;
    font-size: 14px;
}


.addFriend{
    background-color: white;
    color: #DA6713;
    padding: 16px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.friends__container {
    height: calc(100vh - 200px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.friends__container::-webkit-scrollbar{
    display: none;
}
.friend__block{
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: relative;
    height: 50px;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
}
.cupe{
    background-image: url(../img/Cupe.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 33px;
}

.avatar__container{
    height: 50px;
    width: 50px;
    background-image: url(../img/Cupe.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-right: solid 1px #DA6713;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    
}
.friend__avatar{
    width: 100%;
    border-radius: 20px;
}
.name {
}
.friend__info_container {
    display: flex;
}
.block__info {
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    border:  2px solid #DA6713;
    position: relative;
    margin-right: -22px;
    padding-right: 22px;
    overflow: hidden;height: 50px;
    background-color: white;
    border-radius: 20px;
    height: 60px;
    text-align: center;
}
.cristal {
    z-index: 1;
}
.level {
    z-index: 2;
}
.raiting {
    padding-top: 19px;
    justify-content: start;
    align-items: flex-start;
    z-index: 3;
    color: white;
    padding-left: 23px;
}

.noFriends__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
    color: white;
    padding: 57px;
}
.noFriends__container img {
    width: 60px;
}
.noFriends__container p {
    font-size: 16px;
    line-height: 21.86px;
    
    text-align: center;
}
.noFriends__userName{
    font-size: 22px;
    font-weight: bold;
}