*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*:disabled{
    opacity: 0.6;
}

body{
    max-width: 500px;
    margin: auto;
    background-color: #FFFFFF;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    max-width: 500px;
    margin: auto;
}
