body{
    height: 190vh;
    overflow: hidden;
}

.wrapper{
    min-height: 120vh;
    height: 120vh;
    border-radius: 0 0 20px 20px;

}
.settings{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #DA6713;
    border: solid 1px #DA6713;

}
.profile_btn{
    background-image: url(../img/btn__profile_edit.svg);

}
.setting{
    padding: 7px;
    padding-left: 66px;
    padding-right: 50%;
    background-color: white;
    border-radius: 22px;
    height: 50px;
    color: #DA6713;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-size: 50px;
    background-repeat: no-repeat;

}

.nav__toggle{
    text-align: end;
    max-width: 50%;
}
.preferences_btn{
    background-image: url(../img/btn__favorite_edit.svg);

}
.notification_btn{
    background-image: url(../img/btn__notification_edit.svg);

}

.wrapper__options{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    background-color: #DA6713;
    color: white;
}
.wrapper__options__title{
    width: 50%;
    text-align: end;
}

.section__container{
    position: absolute;
    top: 120%;
    left: 20px;
    right: 20px;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: collapse;
    opacity: 0;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}


.profile__avatar {
    width: 100px;
    min-height: 100px;
    border-radius: 35%;
    background-color: white;
    margin: auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../img/Avatar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border: solid 3px #DA6713;
}
.profile__avatar img {
    width: 100%;
}
.profile__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
}
.form__input {
    padding: 15px;
    width: 100%;
    border-radius: 19px;
    border: #DA6713 1px solid;
}
.profile__form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}
.submit__btn {
    margin-top: 10px;
    padding: 20px;
    background-color: #DA6713;
    color: white;
    border-radius: 20px;
}

.notification {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    color: #DA6713;
}
.section__container__title {
    font-size: 16px;
    line-height: 22px;
  
    font-weight: 600;
}
.notification__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
}
.notification__input_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.notification__form .form__input{
    display: none;
}


.toggle {
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    border: solid 1px #DA6713;
    position: relative;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.radio {
    display: none;
}
.toggle .toggle__round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    left: 5px;
    right: auto;
    background-color: #DA6713;
    border: solid 1px #DA6713;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.notification__form .form__input:checked + .toggle {
    background-color: #DA6713;
}

.notification__form .form__input:checked + .toggle .toggle__round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    left: auto;
    right: 5px;
    background-color: #ffffff;
    border: solid 1px #DA6713;
}

.preferences{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    color: #DA6713;
}

.preferences__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
}
.preferences__variable label{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    border: solid 1px #DA6713;
    border-radius: 20px;
}
.preferences__form .form__input {
    display: none;
}

.form__input:checked + label {
    background-color: #DA6713;
    color: white;
}




.section-active{
    visibility: visible;
    opacity: 1;
}