body{
    background: white;
    max-width: 500px;
    margin: auto;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    padding-top: 5vh;
    overflow: hidden;
    gap: 5vh;
    position: relative;
}
.animation {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 0 auto;
    min-height: 40vh;
    min-width: 40vh;
    max-width: 350px;
    max-height: 350px;
    background-color: black;
    border-radius: 40px;
}
.hello {
    /* position: absolute; */
    
    padding: 50px 24px;
    margin: auto;
    background-color: black;
    height: 322px;
    border-radius: 40px;
    min-height: 563px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hello *{
    color: #FFFFFF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.hello__title {
    text-align: center;
    margin-bottom: 34px;
}
.hello__text {
    max-width: 312px;
    text-align: center;
    margin-bottom: 32px;
    margin: 0 auto 32px;
}
.hello__registry {
    color: black;
    padding: 19px 20px;
    min-width: 250px;
    border-radius: 20px;
    margin: auto;
    display: block;

}

.hello__telegram{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__container{
}

.form__container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 312px;
    margin: 0 auto;
}

.form__container input {
    border-radius: 20px;
    padding: 14px 20px;
    border: solid 1px #232323;
}
.submit{
    padding: 19px 20px;
    width: 100%;
    border-radius: 20px;
    background-color: black;
    color: white;
}


.quiz {
    margin-top: 30vh;
    min-height: 95vh;
    border-radius: 40px 40px 0 0;
    background-color: black;
    /* border-radius: 40px; */
}
.quiz__indicator {
    display: flex;
    padding:  50px 24px;
    justify-content: space-between;
}
.quiz__indicator * {
    width: 49%;
    background-color: rgba(255, 255, 255, 0.21);
    height: 1px;

}

.active{
    background-color: white;
}
.quiz__container {
    display: flex;
    overflow: hidden;
}
.quiz__slider {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.quiz__slider_title {
    color: white;
    margin-bottom: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.quiz__slider_container {
    display: flex;
    gap: 30px;
    padding: 25px 95px;
    overflow-x: scroll;
    width: 100%;
}
.quiz__slider_container::-webkit-scrollbar {
    display: none;
}

.quiz__slide {
    border: solid 2px white;
    border-radius: 30px;
    padding: 46px;
    min-width: 180px;
    transition: 0.3s;
}

.slide__active{
    transform: scale(1.2);
}
.quiz__slide img{
    width: 100%;
}

.quiz__slider_controller{
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
}

.slider__btn{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enableSlide{
    background-color: #DA6713;
}
.quiz__question {
    min-width: 100%;
    padding: 20px;
}
.quiz__question * {
    color: white;
}
.quiz__question h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.quiz__question form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.quiz__question label {
    box-sizing: border-box;
    padding: 14px 0;
    text-align: center;
    border: solid 1px white;
    border-radius: 20px;
}

.form__input_check{
    display: none;
}

.form__input_container{

}

.form__input_check:checked + label {
    background-color: #DA6713;
}
